<div class="dashboard-container">
    <div class="menu">
        <ul>
            <li>
                <p>Gestión de Miembros</p>
                <ul>
                    <li><a routerLink="dashboard/miembros/registro">Registro y Actualización</a></li>
                    <li><a routerLink="dashboard/miembros/busqueda">Búsqueda y Filtrado</a></li>
                    <li><a routerLink="dashboard/miembros/historial">Historial de Participación</a></li>
                </ul>
            </li>
            <li>
                <p>Gestión de Proyectos</p>
                <ul>
                    <li><a routerLink="dashboard/proyectos/creacion">Creación y Edición</a></li>
                    <li><a routerLink="dashboard/proyectos/asignacion">Asignación de Tareas y Recursos</a></li>
                    <li><a routerLink="dashboard/proyectos/seguimiento">Seguimiento del Progreso y Estado</a></li>
                </ul>
            </li>
            <li>
                <p>Gestión de Derechos Humanos</p>
                <ul>
                    <li><a routerLink="dashboard/derechos-humanos/registro">Registro de Derechos Defendidos</a></li>
                    <li><a routerLink="dashboard/derechos-humanos/documentacion">Documentación de Acciones y Casos</a></li>
                    <!-- <li><a routerLink="dashboard/derechos-humanos/seguimiento">Seguimiento de Resultados y Logros</a></li> -->
                </ul>
            </li>
            <li>
                <p>Gestión de Recursos Humanos</p>
                <ul>
                    <li><a routerLink="dashboard/recursos-humanos/registro">Registro de Personal</a></li>
                    <li><a routerLink="dashboard/recursos-humanos/asignacion">Asignación de Roles y Responsabilidades</a></li>
                    <!-- <li><a routerLink="dashboard/recursos-humanos/evaluacion">Evaluación del Desempeño</a></li> -->
                </ul>
            </li>
            <!-- <li>
                <p>Gestión Financiera</p>
                <ul>
                    <li><a routerLink="dashboard/financiera/registro">Registro de Ingresos y Gastos</a></li>
                    <li><a routerLink="dashboard/financiera/administracion">Administración de Fuentes de Financiamiento</a></li>
                    <li><a routerLink="dashboard/financiera/reportes">Generación de Reportes Financieros</a></li>
                </ul>
            </li> -->
            <!-- <li>
                <p>Comunicación y Colaboración</p>
                <ul>
                    <li><a routerLink="dashboard/comunicacion/mensajeria">Herramientas de Mensajería y Notificaciones</a></li>
                    <li><a routerLink="dashboard/comunicacion/compartir">Compartición de Documentos</a></li>
                    <li><a routerLink="dashboard/comunicacion/calendarios">Gestión de Calendarios y Eventos</a></li>
                </ul> -->
            <!-- </li> -->
            <!-- <li>
                <p>Informes y Análisis</p>
                <ul>
                    <li><a routerLink="dashboard/informes/creacion">Creación de Informes Personalizados</a></li>
                    <li><a routerLink="dashboard/informes/analisis">Análisis de Datos</a></li>
                    <li><a routerLink="dashboard/informes/visualizacion">Visualización de Datos</a></li>
                </ul>
            </li> -->
            <!-- <li>
                <p>Seguridad y Control de Acceso</p>
                <ul>
                    <li><a routerLink="dashboard/seguridad/gestion">Gestión de Roles y Permisos</a></li>
                    <li><a routerLink="dashboard/seguridad/implementacion">Implementación de Medidas de Seguridad</a></li>
                    <li><a routerLink="dashboard/seguridad/monitoreo">Monitoreo y Auditoría de Accesos</a></li>
                </ul>
            </li> -->
        </ul>
        <button (click)="cerrarSesion()" class="btn-logout">Cerrar Sesión</button>
    </div>
</div>
