<div class="container">
    <h2>Seguimiento de Proyectos</h2>
    <div *ngIf="proyectos.length > 0">
      <ul>
        <li *ngFor="let proyecto of proyectos">
          <h3>{{ proyecto.nombre }}</h3>
          <p>{{ proyecto.descripcion }}</p>
          <p>Fecha de Inicio: {{ proyecto.fechaInicio | date }}</p>
          <p>Fecha de Fin: {{ proyecto.fechaFin | date }}</p>
          <p>Presupuesto: {{ proyecto.presupuesto | currency }}</p>
        </li>
      </ul>
    </div>
    <div *ngIf="proyectos.length === 0">
      <p>No hay proyectos disponibles.</p>
    </div>
  </div>
  